{% extends "learning/learningtemplate.html" %}
{% load static %}
{% block learning %}
<script type="text/javascript">
var currentDocument = -1;
var numberDocuments = 1;
const documents = [];

function startup() {
    fetch("{% static 'learning/introtocrypto1.txt' %}")
    .then(response => response.text())
    .then(text => documents.push(text))
    fetch("{% static 'learning/introtocrypto2.txt' %}")
    .then(response => response.text())
    .then(text => documents.push(text))
}
function previousPage() {
    if (currentDocument > 0) {
        
        currentDocument -= 1;
        document.getElementById('learning').innerHTML = documents[currentDocument];
        
    }       
}

function nextPage() {
    if (currentDocument < numberDocuments) {
        
        currentDocument += 1;
        document.getElementById('learning').innerHTML = documents[currentDocument];
        
    }  
}
</script>
<div class="col mb-5"><a class = "btn btn-lg btn-success btn-block" href="{% url 'crypto-quiz' %}">Go to Quiz</a></div>
<div class="row">
    <div class="col"><button class = "btn btn-lg btn-warning btn-block" onclick="previousPage()">Previous</button></div>
    <div class="col"><button class = "btn btn-lg btn-success btn-block" onclick="nextPage()">Next</button></div>
</div>
<h1>Intro to Cryptography</h1>
<img class="img-fluid" src="{% static 'learning/intro_to_cryptography.jpg' %}"></img>
<div>
    <body onload="startup()"></body>
    <div class="row"id="learning">
    Press next to start learning!
    
    </div>
    
    
</div>



{% endblock learning %}