{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <!-- modules section -->
    <div class="col">
      <div class="row">
        <div class="col-8">
          <h1>Modules</h1>
        </div>
        <div class="col">
          <select class="form-select" aria-label="Default select example" id="sortOrder">
            <option value="time">Time</option>
            <option value="difficulty">Difficulty</option>
            <option selected value="suggested">Suggested Order</option>
          </select>
          
          <a class="btn btn-primary" href="javascript:document.location.href=sort(document.getElementById('sortOrder').value);">Sort</a>
        </div>
        
      </div>
      
    <div class="card-deck" id="cardDeck">
    
    {% for module in modules %}
        <div class="col-6">
          <div class="card mb-3">
              <img class="card-img-top" src="{% static module.image %}">
              <div class="card-body" style="height: 15rem;">
                <h5 class="card-title">{{ module.title }}</h5>
                <p class="card-text">{{ module.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ module.difficulty }}</li>
                <li class="list-group-item">{{ module.time }} minutes</li>
              </ul>
              
              <div class="card-body">
              <a class="btn btn-lg btn-primary btn-block" type="submit" name="enroll" href="{{ module.pagePath }}" class="card-link">{% if module.title in completed %} Retake Module{% else %}Start Learning{% endif %}</a>            
              </div>
              <div class="card-footer">
              {% for tag in module.tags.all %}
                <a href="/{{ tag }}">{{ tag }}</a>
              {% endfor %}
              </div>
          </div>
        </div>
    {% endfor %}
    </div>
    </div>
    
    <!-- tags sidebar -->
    <div class="col-3">
      <h1>Tags</h1>
      <a class="btn btn-lg btn-info btn-block"href="{% url 'learning' %}">Reset Tags</a>
      {% for tag in tags.all %}
        <a class="btn btn-lg btn-info btn-block"href="/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>

  </div>

  <script>

    function sort(sortType) {
      return ("/" + sortType)
    }

  </script>
{% endblock content %}