{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Modules</h1>
    <div class="card-deck">
    
    {% for module in modules %}
        <div class="col-4">
          <div class="card mb-3">
              <img class="card-img-top" src="{% static module.image %}">
              <div class="card-body">
                <h5 class="card-title">{{ module.title }}</h5>
                <p class="card-text">{{ module.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ module.difficulty }}</li>
                <li class="list-group-item">{{ module.time }} minutes</li>
              </ul>
              
              <div class="card-body">
              <a class="btn btn-lg btn-primary btn-block" type="submit" name="enroll" href="{{ module.pagePath }}" class="card-link">{% if module.title in completed %} Retake Module{% else %}Start Learning{% endif %}</a>            
              </div>
              <div class="card-footer">
              {% for tag in module.tags.all %}
                <a href="/{{ tag }}">{{ tag }}</a>
              {% endfor %}
              </div>
          </div>
        </div>
    {% endfor %}
    </div>
    </div>
    
    <div class="col-3">
      <h1>Tags</h1>
      <a class="btn btn-lg btn-info btn-block"href="{% url 'learning' %}">Reset Tags</a>
      {% for tag in tags.all %}
        <a class="btn btn-lg btn-info btn-block"href="/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}