{% extends "home/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Welcome Back</h1>
    <h2>Go to Learning</h2>
    <h2>Go to Profile</h2>
    <hr></hr>
    <h2>Check out the Newest Modules</h2>
{% else %}
    
    <body style="background-color:#ffdada">
    <div class="container">
        <div class="row">
            <img src="{% static '/home/homepage.jpg' %}" class="img-fluid" alt="logo" style="border:5px solid">
        </div>
        <div class="row"><p></p></div>
        <div class="row">

            <div class="col"><a class="btn btn-lg btn-primary btn-block" href="{% url 'login' %}" role="button">LOGIN</a></div>
            
            <div class="col"><a class="btn btn-lg btn-primary btn-block" href="{% url 'register' %}" role="button">REGISTER</a></div>
            
        </div>
    </div>
    </body>
    
{% endif %}
{% endblock content%}