{% extends "home/base.html" %}
{% block content %}
    {% for module in modules%}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2">{{ module.time }} minutes</a>
                <small class="text-muted">{{ module.difficulty }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ module.title }}</a></h2>
                <p class="article-content">{{ module.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}